@import '~/src/_styles/theme.scss';

:host .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;

    & > ::ng-deep :nth-child(3) {
        height: 100%;
        max-height: 100%;
        overflow: auto;
    }
}

img {
    margin: auto;
    height: 80vh;
}

kafka-tools-window-controls {
    width: 100%;
}

::ng-deep * {
    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--theme-text);
        border-radius: 10px;
    }

    &::selection {
        background: var(--theme-primary);
    }

    input {
        caret-color: var(--theme-primary);
    }
}
