/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzQyMDBmZiIsIj9lcjwjYzZiM2ZmIiwiO2VyPCMyYjAwZmZ$LCIlPmBePCMwMDAwMDAiLCI~ZXI8I2IzYjNiMyIsIjtlcjwjMDAwMDAwfiwid2Fybj5gXjwjZmYwMDMyIiwiP2VyPCNmZmIzYzIiLCI7ZXI8I2ZmMDAxZn4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMwZTBlMGV$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxGaWxsZWQiLCI~bmVzcz5mYWxzZSwidmVyc2lvbj4xM30=
*/

@use '@angular/material' as mat;

@use 'sass:map';
@import '~@angular/material/theming';

@import '~/src/_styles/themes/font-config.scss';
@import '~/src/_styles/functions/create-theme-vars.function.scss';
@import '~/src/_styles/themes/dark-theme.scss';
@import '~/src/_styles/themes/light-theme.scss';
@import '~/src/_styles/themes/git-hub-theme.scss';
// Foreground Elements

.show-if-dark,
.show-if-light {
    display: none;
}

// Theme Init
::ng-deep {
    .light-theme {
        @include mat.all-component-themes($light-theme);
        @include create-theme-vars($light-theme-colors);
    }

    .dark-theme {
        @include mat.all-component-themes($dark-theme);
        @include create-theme-vars($dark-theme-colors);
    }

    .git-hub-theme {
        @include mat.all-component-themes($git-hub-theme);
        @include create-theme-vars($light-theme-colors);
    }

    .git-hub-theme,
    .dark-theme {
        .show-if-dark {
            display: block;
        }
    }

    .light-theme {
        .show-if-light {
            display: block;
        }
    }
}

* {
    transition: background-color 0.15s ease-out;
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    padding: 0 1.15em;
    margin: 0 0.65em;
    min-width: 3em;
    line-height: 36.4px;
}

.mat-standard-chip {
    padding: 0.5em 0.85em;
    min-height: 2.5em;
}

@mixin theme($property: null, $key: null) {
    ::ng-deep .light-theme & {
        #{$property}: map.get($light-theme-colors, $key);
    }

    ::ng-deep .dark-theme & {
        #{$property}: map.get($dark-theme-colors, $key);
    }

    ::ng-deep .git-hub-theme & {
        #{$property}: map.get($git-hub-colors, $key);
    }
    ::ng-deep & {
        #{$property}: map.get($git-hub-colors, $key);
    }
}
