<!-- <div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div>
<div class="pallette">
    <div class="display-color"></div>
    <div class="color" *ngFor="let i of paletteArray"></div>
</div> -->

<button mat-raised-button color="warn">press me</button>
<button mat-stroked-button color="warn">press me</button>
<button mat-stroked-button color="primary">press me</button>
<button mat-button color="warn">press me</button>
<button mat-button color="primary">press me</button>
<mat-slide-toggle color="warn">Press me</mat-slide-toggle>
