<div class="terminal" class="terminal">
    <kafka-tools-message *ngFor="let message of messages" [message]="message">
    </kafka-tools-message>
    <div #terminalFooter></div>
</div>

<div class="footer">
    <input matInput #input />
    <button
        mat-raised-button
        (click)="sendMessage(topicNameInput.value, input.value)"
    >
        Send message
    </button>
    <input
        matInput
        #topicNameInput
        value="topic-test"
        (change)="listenToTopic(topicNameInput.value)"
    />
</div>
