@use 'sass:map';

@import '~/src/_styles/functions/get-lightens.function.scss';
@import '~/src/_styles/functions/get-darkens.function.scss';

@import '~/src/_styles/mixins/theme.mixin.scss';

:host {
    display: flex !important;
    justify-content: center;
    align-items: center;
    & > * {
        margin: auto 2rem;
        position: relative;
    }
}

$colors: (
    1: 'primary',
    2: 'accent',
    3: 'warn',
    4: 'attention',
    5: 'success',
    // 6: '8'
);

@each $index, $color in $colors {
    .pallette:nth-child(#{$index}) {
        display: flex;
        margin: 1rem 0;

        .color,
        .display-color {
            width: 0.35rem;
            height: 5rem;
        }

        .display-color {
            margin-right: 3rem;
            width: 5rem;
            @include theme(background, $color);
            box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07);
        }

        // $color-lightens: get-lightens($color);
        // $color-darkens: get-darkens($color);

        // @for $i from 0 through 100 {
        //     .color:nth-child(#{$i}) {
        //         background: map.get($color-lightens, 100 -$i);
        //     }
        // }

        // @for $i from 0 through 100 {
        //     .color:nth-child(#{$i + 100}) {
        //         background: map.get($color-darkens, 100 - $i);
        //     }
        // }
    }
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
