<div class="terminal" class="terminal" #terminal>
    <kafka-tools-message *ngFor="let message of messages" [message]="message">
    </kafka-tools-message>
    <div #terminalFooter></div>
</div>

<div class="footer">
    <kafka-tools-consumer [topic]="this.currentTopic"></kafka-tools-consumer>
    <div class="topic-input" (click)="popToast()">
        <div class="topic">topic :</div>
        <input
            #topicNameInput
            value="topic-test"
            (change)="listenToTopic(topicNameInput.value)"
        />
    </div>
</div>
