@use 'sass:map';

@mixin create-theme-vars($theme-colors: null) {
    --theme-primary: #{map.get($theme-colors, primary)};
    --theme-accent: #{map.get($theme-colors, accent)};
    --theme-warn: #{map.get($theme-colors, warn)};
    --theme-success: #{map.get($theme-colors, success)};
    --theme-attention: #{map.get($theme-colors, attention)};
    --theme-background: #{map.get($theme-colors, background)};
    --theme-foreground: #{map.get($theme-colors, foreground)};
    --theme-text: #{map.get($theme-colors, text)};
    --theme-shadow: #{map.get($theme-colors, shadow)};
}
