$dark-pallette: (
    primary: #4200ff,
    accent: black,
    warn: red,
    attention: #ff3c22,
    success: #00ff9d,
    background: #0e0e0e,
    text: white,
    shadow: black,
    colors: (
        1: #6f00ff,
        2: #00ff9d,
        3: #ff3c22,
        4: #7bff00,
        5: #ffee00,
        6: #929292,
    ),
    is-dark: true,
);
