:host {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    z-index: 100;
    overflow: hidden;
    cursor: pointer;
}

:host,
.toasts {
    pointer-events: none;
}

.toasts {
    width: min(30rem, 100vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-bottom: 4.5rem;
    overflow: visible;
}

kafka-tools-toast {
    position: absolute;
    transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation: toast-pop-animation 200ms ease-out;
}

@keyframes toast-pop-animation {
    0% {
        clip-path: circle(25%);
    }
    100% {
        clip-path: circle(75%);
    }
}
