@import '~/src/_styles/functions/create-theme.function.scss';

$git-hub-colors: (
    primary: #1f6feb,
    accent: #21262d,
    warn: #f85149,
    attention: #b89500,
    success: #3fb950,
    background: #010409,
    text: white,
    shadow: black,
    colors: (
        1: #6f00ff,
        2: #00ff9d,
        3: #ff3c22,
        4: #7bff00,
        5: #ffee00,
        6: #929292,
    ),
    is-dark: true,
);

$git-hub-theme: create-theme($git-hub-colors);

$git-hub-theme-export: (git-hub, $git-hub-theme, $git-hub-colors);
